template(name='Dealers')
	.dealers.col-xs-12
		.inputs.col-xs-11.no-gutter
			.form-group
				select.form-control(id="casino-name")
					option
						| Casino (Select One)
					each casinoList
						option
							| !{name}
				span.fa.fa-plus.new-casino
			.form-group
				select.form-control(id="dealer-name")
					option
						| Dealer (Select One)
					each dealerList
						option
							| !{name}
				span.fa.fa-plus.new-dealer
		.table-responsive.col-xs-12.no-gutter
			table.table.table-striped
				thead
					tr
						th.blank
							| time
						th.blank
							| blan
						each calendarHeader
							th(time-value="!{value}")
								| !{visible}
				tbody
					each weekdayRow
						tr
							td(day-value="!{day}")
								| !{visible}
							each dealerPresent
								td(class="!{this}")
									| 
				//
					tr
						td.sat
							| Sat
						each dealerSat
							td(class="!{this}")
								| 
					tr
						td.sun
							| Sun
						each dealerSun
							td(class="!{this}")
								| 
					tr
						td.mon
							| Mon
						each dealerMon
							td(class="!{this}")
								| 
					tr
						td.tue
							| Tue
						each dealerTue
							td(class="!{this}")
								| 
					tr
						td.wed
							| Wed
						each dealerWed
							td(class="!{this}")
								| 
					tr
						td.thu
							| Thu
						each dealerThu
							td(class="!{this}")
								| 
