template(name='Dealers')
	.dealers.col-xs-12
		.inputs.col-xs-11.no-gutter
			.form-group
				select.form-control(id="casino-name")
					option
						| Casino (Select One)
					each casinoList
						option
							!{name}
				span.fa.fa-plus.new-casino
			.form-group
				select.form-control(id="dealer-name")
					option
						| Dealer (Select One)
					each dealerList
						option
							!{name}
				span.fa.fa-plus.new-dealer
		.table-responsive.col-xs-12.no-gutter
			table.table.table-striped
				thead
					tr
						th.blank
							| time
						th.blank
							| blan
						th
							| 12pm
						th
							| 1pm
						th
							| 2pm
						th
							| 3pm
						th
							| 4pm
						th
							| 5pm
						th
							| 6pm
						th
							| 7pm
						th
							| 8pm
						th
							| 9pm
						th
							| 10pm
						th
							| 11pm
						th
							| 12am
						th
							| 1am
						th
							| 2am
						th
							| 3am
						th
							| 4am
						th
							| 5am
						th
							| 6am
						th
							| 7am
						th
							| 8am
						th
							| 9am
						th
							| 10am
						th
							| 11am
				tbody
					tr
						td.fri
							| Fri
						each dealerFri
							td(class="!{this}")
								| 
					tr
						td.sat
							| Sat
						each dealerSat
							td(class="!{this}")
								| 
					tr
						td.sun
							| Sun
						each dealerSun
							td(class="!{this}")
								| 
					tr
						td.mon
							| Mon
						each dealerMon
							td(class="!{this}")
								| 
					tr
						td.tue
							| Tue
						each dealerTue
							td(class="!{this}")
								| 
					tr
						td.wed
							| Wed
						each dealerWed
							td(class="!{this}")
								| 
					tr
						td.thu
							| Thu
						each dealerThu
							td(class="!{this}")
								| 
