template(name='AddGame')
	.add-game
		.col-xs-10.col-xs-offset-1
			h2.text-center
				| Add Game
			.form-group
				label
					| Game Name:
				input.form-control(type="text" id="game-name" value="!{this.name}" game-id="!{this._id}")
			.form-group
				label
					| Variant:
				input.form-control(type="text" id="variant-name" value="!{this.variant}")
			.form-group
				label
					| Edge:
				input.form-control(type="number" id="edge" value="!{this.edge}")
			.form-group
				label
					| Variance:
				input.form-control(type="number" id="variance" value="!{this.variance}")
			.form-group
				label
					| Speed:
				input.form-control(type="number" id="speed" value="!{this.speed}")
			a.btn.btn-default.col-xs-5.cancel-game.cancel(href="{{pathFor route='Settings'}}")
					| Cancel
			button.col-xs-5.col-xs-offset-2.btn.btn-default(id="submit-game")
					| Submit
