template(name='CasinoSchedule')
	.casino-schedule.well.col-xs-12
		if casinoPage
			ul.list-group
				each scheduleDays
					li.list-group-item.day-header(day-id="!{dayValue}")
						| !{text}
						span.badge
							| !{number} Dealers
					each casinoSchedule
						li.list-group-item.dealer-list.hidden.text-center(day-id="!{../dayValue}")
							a.pull-left
								| !{dealerName}
							span
								| !{start} - !{leave}
							span.pull-right
								| !{dealerQuality}
		else
			h4.text-center.page-header
				| Select casino to continue